/* Estilos gerais */
.carousel-inner {
    padding: 1em;
    overflow: hidden;
    width: 100%;
}

.card-equipe {
    height: 100%;
    width: 100%;
    margin: 0 .5em;
}
.icon-card {
    transition: transform 0.3s ease;
}
.icon-card:hover {
    transform: scale(1.2);
}

.img-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente ao centro */
}

.card-img {
    height: 200px;
    width: 200px;
    object-fit: contain; /* Garante que a imagem cubra o contêiner sem distorção */
}

/* Estilos específicos para telas com largura mínima de 576px */
@media screen and (min-width: 576px) {
    .carousel-inner {
        display: flex;
        flex-wrap: nowrap;
    }

    .carousel-item {
        flex: 0 0 calc(100% / 4);
        margin-right: 0;
        display: block;
    }

    .img-wrapper {
        height: auto; /* Permite que a altura se ajuste automaticamente */
    }
}

/* Estilos para os controles do carrossel */
.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    position: relative;
}
