:root {
    --corFundo: #9665c4;
  }

.navbar {
    background-color: #9665c466;
    backdrop-filter: blur(10px); /* Efeito de desfoque */
    transition: color 0.3s;

}

.navbar-light .nav-link {
    color: white;
}
.navbar-light .nav-link.scrolled {
    color: black !important;
}

.img-nav{
    height: 35px;
}

#navbarLogo {
    transition: all 0.3s;
}

.nav-link {
    font-size: 15px;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

#offcanvasNavbar{
    
    background-color: var(--corFundo) !important;
}

@keyframes expand-border {
    0% {
        width: 0;
        left: 50%;
    }
    100% {
        width: 100%;
        left: 0;
    }
}
