@font-face {
    font-family: Vertice;
    src: url(../font/LEMONMILK-Regular.otf);
}

body {
    overflow-x: hidden;

    background: radial-gradient(
        500% 100% at top,
        #010103, #010103, #52178A, #5e2594bc, #9665c44d, #EBBFFF, #EBBFFF, #EBBFFF, #EBBFFF, #EBBFFF, #EBBFFF
    );

    scroll-padding-top: 100px;
    scroll-behavior:smooth;
}

/*SECTIONS*/

.area-inicio {
    height: 85vh;
    overflow: hidden;
}
.conteudo {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima da div por baixo */
}

.por-baixo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 73%;
    height: 100%;

    z-index: -1; /* Coloca a div por baixo de todas as outras */
}

.area-somos-beneficios {
    height: 100vh;
}

.area-beneficios {
    height: 40%;
}

.area-quem-somos {
    height: 60%;
}
.area-texto {
    width: 60%;
}
.area-texto2 {
    width: 30%;
}

.area-projeto {
    height: 65vh;
}

.area-equipe {
    height: 90vh;
}
.area-titulo-equipe {
    height: 35%;
}
.area-carousel-equipe {
    height: 65%;
}

.area-contato {
    height: 70vh;
}

.area-footer {
    height: 40vh;
    background-color: #9665c466;
}

.contatoMobile{
    font-size: 10px;
}

/*TEXTOS*/
p, h5, a {
    font-family: Vertice;

    margin: 0px;
    padding: 0px;
    color: #000;
}

.titulo, .tituloQuemSomos {
    font-size: 60px;
}

.texto {
    font-size: 20px;
}
.texto2 {
    font-size: 17px;
}

.card-title{
    color: #000;
}

.vertice {
    color: #52178A;
}

.titulo-bilhete {
    font-size: 50px;
}
.bilhete {
    color: red;
}

.text-btn {
    color: #FFF;
}
.text-sm-btn {
    font-size: 10px;
}
.text-ad {
    font-size: 14px;
}

.text-card-beneficios {
    font-size: 14px;
    color: white;
}

.titulo-contato {
    font-size: 20px;
}
.sub-text-contato {
    font-size: 14px;
    color: #2b2a2a;
}

/*BOTOES*/
.apple-btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: red;
}
.play-btn {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

.ad-btn {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: 3px solid #000;
}

/*IMAGENS*/

.img-celular {
    width: 85%;
}

.iconw{
    fill: white
}
.iconb{
    fill: #000;
}

/*CARDS BENEFICIOS*/

.area-card-beneficio {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.area-borda-beneficio{
    height: 100%;
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(185,184,196,1) 82%, rgba(136, 136, 136, 0.623) 100%);
}
.area-bola {
    height: 15%;
}
.bola-beneficio {
    position: relative;
    top: 0;
    height: 70px;
    width: 70px;
    border-radius: 70px;
}


@media(max-width:800px){
    .bola-beneficio {
        position: relative;
        top: 0;
        height: 50px;
        width: 50px;
        border-radius: 70px;
    }
    .tituloQuemSomos {
        font-size: 30px;
        text-align: center;
    }
    .texto, .texto2{
        font-size: 17px;
        text-align: justify;
    }
    .area-quem-somos{
        height: 90%;
    margin-top: 80px;
    
    }
    .area-projeto {
        height: 65vh;
        margin-top: 320px;
       
    }
    .txtLoja{
        font-size: 12px !important;
    }
    .img-celular {
        height: 100%;
    }

    .titulo-bilhete {
        font-size: 22px;
    }

    .area-equipe {
        height: 90vh;
        margin-top: 200px;
    }
}
.bola1{
    background-color: #FD0E0E;
    border: #F93737 solid 1px;
}  
.bola2{
    background-color: #FDBA0E;
    border: #FFC839 solid 1px;
}
.bola3{
    background-color: #13BC24;
    border: #38C346 solid 1px;
}
.bola4{
    background-color: #3A36F0;
    border: #6C6AFB solid 1px;
}

.area-infos-card {
    height: 85%;
    width: 100%;
}
.fundo-card1 {
    background: radial-gradient(
    120% 100% at top,
    #FD0E0E, #52178A, #52178A, #52178a7a);  
}
.fundo-card2 {
    background: radial-gradient(
    120% 100% at top,
    #fdb90eac, #52178A, #52178A, #52178a7a);
}
  
  .fundo-card3 {
    background: radial-gradient(
    120% 100% at top,
    #13BC24, #52178A, #52178A, #52178a7a);
}
  
.fundo-card4 {
    background: radial-gradient(
    120% 100% at top,
    #3A36F0, #52178A, #52178A, #52178a7a);
}

/* CARD CONTATO */
.card-contato {
    background-color: #9665c466;
    height: 100px;
    width: 100%;
    border-radius: 5px;
}

.fundo-form {
    background-color: #9665c466;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/*INPUT*/
.input-contato {
    font-family: Vertice;
    height: 80%;
    width: 90%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #00000000;
    padding-left: 10px;
}

.input-grande-contato {
    font-family: Vertice;
    height: 80%;
    width: 95%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #00000000;
    padding-left: 10px;
}

input::placeholder {
    color: rgb(21, 0, 59); /* Altere a cor conforme necessário */
    opacity: 1; /* Define a opacidade para garantir que a cor seja totalmente visível */
}

.botao-contato {
    font-family: Vertice;
    font-size: 14px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background-color: #850EFD;
    color: #fff;
    font-weight: bold;
}

